@model IEnumerable<HealthUp.Models.AulaGrupo>

@{
    ViewData["Title"] = "Index";
}

<h1>Aulas de Grupo</h1>

<p>
    <a asp-action="Create">Criar nova</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FotografiaDivulgacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VideoDivulgacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                <img src="~/Ficheiros/@Html.DisplayFor(modelItem => item.FotografiaDivulgacao)" height="60" />
            </td>
            <td>
                <source src="~/Ficheiros/@Html.DisplayFor(modelItem => item.VideoDivulgacao)" type="video/mp4">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdAula">Editar</a> |
                <a asp-action="Delete" asp-route-id="@item.IdAula">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
