
@model IEnumerable<HealthUp.Models.Aula>

<style>
    * {
        box-sizing: border-box;
    }

    .column {
        float: left;
        width: 33.33%;
        padding: 5px;
    }

    /* Clearfix (clear floats) */
    .row::after {
        content: "";
        clear: both;
        display: table;
    }
</style>





<p>
    <h2>De @ViewBag.segunda até @ViewBag.domingo</h2>
</p>

<div class="row">
    <div class="column">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Segunda-Feira
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    @if (item.DiaSemana == 1)
                    {
                    <td>
                        @Html.DisplayFor(modelItem => item.HoraInicio.Hours):@Html.DisplayFor(modelItem => item.HoraInicio.Minutes)
                    </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                        </td>
                    }
                </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="column">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Terça-Feira
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    @if (item.DiaSemana == 2)
                    {
                    <td>
                        @Html.DisplayFor(modelItem => item.HoraInicio.Hours):@Html.DisplayFor(modelItem => item.HoraInicio.Minutes)
                    </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                    }
                </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="column">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Quarta-Feira
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    @if (item.DiaSemana == 3)
                    {
                    <td>
                        @Html.DisplayFor(modelItem => item.HoraInicio.Hours):@Html.DisplayFor(modelItem => item.HoraInicio.Minutes)
                    </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                    }
                </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="column">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Quinta-Feira
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    @if (item.DiaSemana == 4)
                    {
                    <td>
                        @Html.DisplayFor(modelItem => item.HoraInicio.Hours):@Html.DisplayFor(modelItem => item.HoraInicio.Minutes)
                    </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                    }
                </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="column">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Sexta-Feira
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    @if (item.DiaSemana == 5)
                    {
                    <td>
                        @Html.DisplayFor(modelItem => item.HoraInicio.Hours):@Html.DisplayFor(modelItem => item.HoraInicio.Minutes)
                    </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                    }
                </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="column">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Sábado
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    @if (item.DiaSemana == 6)
                    {
                    <td>
                        @Html.DisplayFor(modelItem => item.HoraInicio.Hours):@Html.DisplayFor(modelItem => item.HoraInicio.Minutes)
                    </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                    }
                </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="column">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Domingo
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    @if (item.DiaSemana == 7)
                    {
                    <td>
                        @Html.DisplayFor(modelItem => item.HoraInicio.Hours):@Html.DisplayFor(modelItem => item.HoraInicio.Minutes)

                    </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                    }
                </tr>
                }
            </tbody>
        </table>
    </div>

</div>
