@model IEnumerable<HealthUp.Models.AulaGrupo>

@{
    ViewData["Title"] = "Aulas de Grupo";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}
    
<div class="container">
    <h1>AulasGrupo</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FotografiaDivulgacao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descricao)
                </th>
                <th>
                    <!--Html.DisplayNameFor(model => model.IdAulaNavigation)-->
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FotografiaDivulgacao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descricao)
                    </td>
                    <td>
                        <!-- Html.DisplayFor(modelItem => item.IdAulaNavigation.IdAula)-->
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.IdAula">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.IdAula">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.IdAula">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>