@model IEnumerable<HealthUp.Models.Aula>

@{
    ViewData["Title"] = "Lista de Aulas";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}

<h1>Aulas</h1>

<p>
    <a asp-action="CreateAula">Criar Aula</a>
</p>
<table class="content-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FotografiaDivulgacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValidoDe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValidoAte)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lotacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoraInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiaSemana)
            </th>
            <th>
                Administrador
            </th>
            <th>
                Professor
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                <img src="~/Ficheiros/@Html.DisplayFor(modelItem => item.FotografiaDivulgacao)" width="100" height="100"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValidoDe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValidoAte)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lotacao)
            </td>
            <td>
                @item.HoraInicio.ToString(@"hh\:mm")
            </td>
            <td>
                @item.GetDiaSemana()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumAdminNavigation.NumAdminNavigation.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumProfessorNavigation.NumProfessorNavigation.Nome)
            </td>
           
            <td>
                <a asp-action="DetailsAula" asp-route-id="@item.IdAula">Detalhes</a>
                <a asp-action="EditAula" asp-route-id="@item.IdAula">Editar</a> |
                <a asp-action="DeleteAula" asp-route-id="@item.IdAula">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
